<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" href="../style.css">
    </head>
    

    
    <body class="bg-gray-200 h-screen w-screen">
        
        <!-- Notifications -->
        <% if (notif.show) { %>
        <div class="fixed right-0 h-screen w-1/5 flex items-center justify-end mr-8">
            <% if (notif.color) { %>
            <div class="bg-green-100 p-5 font-VarelaRound border border-green-400">
            <% } else { %>
            <div class="bg-red-100 p-5 font-VarelaRound border border-red-400">
            <% } %>
                <form class="flex" action="/server.js" method="get">
                    <p class="text-lg text-gray-700 font-bold font-VarelaRound"><%= notif.message %></p>
                    <button type="submit" formaction="/closeNotifUser" class="text-sm font-VarelaRound text-gray-700 hover:text-main font-bold ml-3">&#x2715</button>
                </form>
            </div>
        </div>
        <% } %>
        
        <!-- Instructions Menu -->
        <div class="fixed left-0 h-screen max-w-sm flex items-center">
            <div id="instruction" class="bg-white rounded-lg p-5 font-VarelaRound hidden shadow-lg overflow-auto">
                <div class="flex justify-between">     
                    <p class="text-lg text-gray-700 font-bold font-VarelaRound">Instructions</p>
                    <button id="closeInstrButton" type="button" class="text-sm font-VarelaRound text-gray-700 hover:text-main font-bold">&#x2715</button>
                </div>
                <p class="my-4 text-gray-700">Each user can only have a maximum of two reservations per week.</p>
                <p class="mb-4 text-gray-700">Each user can only delete reservations two times per week.</p>
                <p class="mb-4 text-gray-700">Users can only reserve timeslots for the coming week.</p>
                <p class="mb-4 text-gray-700">Each user cannot reserve timeslots that he/she already reserved.</p>
                <p class=" text-gray-700">Each user cannot reserve timeslots that are at full.</p>
            </div>
            <div id="showInstrButtonContainer" class="rotate-90 rounded-lg border border-gray-500 p-2 bg-white">
                <button  id="showInstrButton" type="button" class="text-sm font-VarelaRound text-gray-700 hover:text-main font-bold">Instructions</button>
            </div>    
            <script src="./utilities/instructions.js"></script>
        </div>  

        <!-- Navigation Bar -->
        <nav class="bg-white fixed top-0 h-24 w-screen font-VarelaRound flex items-center justify-center">
            <div>
                <form action="/server.js" method="get">
                    <button type="submit" formaction="/dashboardOnClick" class="font-bold font-VarelaRound text-xl hover:text-main mr-10">Dashboard</a>
                    <button type="submit" formaction="/newOnClick" class="font-bold font-VarelaRound text-xl hover:text-main ml-10">New Reservation</a>
                </form>
            </div>
            <div class="absolute max-sm:hidden right-10 flex flex-col justify-center items-center">
                <p class="font-VarelaRound font-bold"><%= id %></p>
                <% if (role.userRole == 'administrator') { %>
                    <p class="font-VarelaRound font-bold text-gray-500 text-xs">Administrator</p>
                <% } else if (role.userRole == 'user') { %>
                    <p class="font-VarelaRound font-bold text-gray-500 text-xs">Student</p>
                <% } %>
            </div>
            <div class="absolute max-sm:hidden left-10 flex justify-center items-center">
                <form action="/server.js" method="get">
                    <button type="submit" formaction="/logout" class="font-bold font-VarelaRound text-xl hover:text-main">Logout</button>
                </form>
            </div>
        </nav>

        <!-- Week Display -->
        <div class="flex flex-col h-screen w-screen justify-center items-center pt-10">
            <form class="flex items-center mb-4" action="/server.js" method="get">
                <button type="submit" formaction="/prevWeek" class="rounded-lg bg-transparent text-gray-500 hover:text-main text-4xl font-bold font-mono h-8 w-20 items-center mb-4"><</button>
                
                <div class=" text-gray-500 font-VarelaRound text-4xl font-extrabold ">
                    <%= week.start %> - <%= week.end %>
                </div>
             
                <button type="submit" formaction="/nextWeek" class="rounded-lg bg-transparent text-gray-500 hover:text-main text-4xl font-bold font-mono h-8 w-20 items-center mb-4">></button>
            </form>

            <!-- Calendar Table-->
            <table class="border-collapse rounded-2xl bg-white shadow-lg">
                <thead class="text-center h-20 items-center">
                    <tr>
                        <th class="px-4 py-2 border-b-2 border-gray-600"></th>
                        <th class="px-4 py-2 border-b-2 w-36 border-gray-600 text-gray-500 text-xs"><p class="text-4xl text-gray-700"><%=day[0]%></p>Monday</th>
                        <th class="px-4 py-2 border-b-2 w-36 border-gray-600 text-gray-500 text-xs"><p class="text-4xl text-gray-700"><%=day[1]%></p>Tuesday</th>
                        <th class="px-4 py-2 border-b-2 w-36 border-gray-600 text-gray-500 text-xs"><p class="text-4xl text-gray-700"><%=day[2]%></p>Wednesday</th>
                        <th class="px-4 py-2 border-b-2 w-36 border-gray-600 text-gray-500 text-xs"><p class="text-4xl text-gray-700"><%=day[3]%></p>Thursday</th>
                        <th class="px-4 py-2 border-b-2 w-36 border-gray-600 text-gray-500 text-xs"><p class="text-4xl text-gray-700"><%=day[4]%></p>Friday</th>
                    </tr>
                </thead>
                <tbody>
                    <% for ( let i = 0; i < table.length; i++){ %>
                        <tr>
                            <td class="px-2 h-8 border-gray-400 font-VarelaRound text-gray-700 text-sm flex justify-end items-center"><%= i+8 %>:00 </td>
                            <% for ( let j = 0; j < table[i].length; j++){ %>
                                <% if (table[i][j] == true){ %>
                                    <td class="h-8 border-t-2 border-l-2 border-gray-400 bg-blue-100">
                                        <form action="/server.js" method="post">
                                            <input name="row" type="hidden" value="<%=i%>">
                                            <input name="col" type="hidden" value="<%=j%>">
                                            <button type="submit" formaction="/timeslotForDel" onclick="return confirm('Please Confirm Delete Reservation.')" class="hover:shadow-md hover:text-red-600 hover:before:content-['Delete'] font-VarelaRound text-gray-500 text-sm font-bold w-full h-full mt-1 pb-1 transition-all">
                                                Your Booking
                                            </button>
                                        </form>
                                    </td>
                                <% } else { %>
                                    <td class="h-8 border-t-2 border-l-2 border-gray-400 bg-white"></td>
                                <% }; %>
                            <% } %>
                        </tr>
                    <% } %> 
                </tbody>
            </table>
        </div>
    </body>
</html>